label.check-list-item(style={width: optionWidth})
    // 设置 name 属性才能保证单选
    input.fw-field-item(type=inputElementType, name=inputName, value=inputValue, checked=checked, class=inputClass)
    | #{optionLabel}