.list
    h2 实体列表
    table.entities.simple
        tr
            th
                input.check-all(type="checkbox")
            th
            th
            th
        each name in entityNames
            -var em = F.meta.entities[name]
            if !em.system
                tr
                    td
                        input.check(type="checkbox", name=name)
                    td.label
                        a.entity(href="javascript:", name=name)=em.label
                    td.name=name
                    td
                        a.remove-entity(href="javascript:", name=name) 删除
    h2 实体视图列表
    table.views.simple
        tr
            th
                input.check-all(type="checkbox")
            th
            th
            th
        each name in viewNames
            -var em = F.meta.views[name]
            if !em.system
                tr
                    td
                        input.check(type="checkbox", name=name)
                    td.label
                        a.view(href="javascript:", name=name)=em.label
                    td.name=name
                    td
                        a.remove-view(href="javascript:", name=name) 删除